/* nessa parte estilizei o rodape ajustando o responsivo com formulario */

.footer {
  background: #000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #a3a3a3;
  max-width: 35ch;
}

.footer-contato {
  display: flex;
  gap: 30px;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 30px;
}

.footer-contato li a i {
  color: #fff;
  font-size: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 10px;
  height: 30px;
  width: 30px;
  text-align: center;
  transition: 0.3s;
}

.footer-contato li a i:hover {
  color: #00ccff;
  border: 1px solid #00ccff;
  transform: scale(1.1);
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

.footer img{
  border-radius: 4px;
}

footer form label {
  display: block;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 10px;
}

input {
  font-size: 1.2rem;
  padding: 10px;
  border: 2px solid #2baaff; 
  border-radius: 4px;
}

button {
  display: block;
  margin-top: 30px;
  font-size: 1.3rem;
  background-color: #39c6e9;
  padding: 10px 20px;
  color: #031741;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

textarea {
  font-size: 1.5rem;
  font-family: Arial,sans-serif;
  border: 2px solid #00ccff;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.2rem;
  }
  .footer-texto {
    font-size: 1rem;
    line-height: 1.5;
    color: #a3a3a3;
  }
  .footer-contato li a i {
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 10px;
    height: 20px;
    width: 20px;
    text-align: center;
    transition: 0.3s;
  }
}
